//output:../_includes/contact.html, pretty: true
body
html
.row
  .col-md-12
    .col-md-6
      .element
        h5 Get in touch with practitioner
        

      .element
      .element
      .element
    .col-md-3-left
      p.head Contact details
      p Phone (03)9419 7172
      p Fax (03) 8678 3880
      p reception@vcps.com.au
      p PO Box 142, East Melbourne 8002
      br
      br
      br
      p.head Locations
      small.colored
        p East Melbourne
      p  Eastbourne House
      p  62 Wellington Parade
      p  East Melbourne 3002
      br
      small.colored
        p Melbourne CBD
      p  Queen Victoria Building, 23
      p  QV Terrace, 292 Swanston
      p  Street, Melbourne 3000
      br
      small.colored
        p  Surrey Hills
      p  174 Union Road
      p  Surrey Hills 3127
      
    .col-md-3-right
      small.colored
        p  Mill Park
      p 20 Civic Drive
      p Mill Park 3082
      br
      small.colored
        p South Yarra
      p Baker IDI Heart & Diabetes
      p Institute, Level 4,
      p 99 Commercial Rd
      p Melbourne 3004
      br
      small.colored
        p Coolaraoo
      p 510 Barry Road
      p Coolaroo 3048


            
