
<body></body>
<html></html>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="element">
        <h5>Get in touch with practitioner</h5>
      </div>
      <div class="element"></div>
      <div class="element"></div>
      <div class="element"></div>
    </div>
    <div class="col-md-3-left">
      <p class="head">Contact details</p>
      <p>Phone (03)9419 7172</p>
      <p>Fax (03) 8678 3880</p>
      <p>reception@vcps.com.au</p>
      <p>PO Box 142, East Melbourne 8002</p><br/><br/><br/>
      <p class="head">Locations</p><small class="colored">
        <p>East Melbourne</p></small>
      <p> Eastbourne House</p>
      <p> 62 Wellington Parade</p>
      <p> East Melbourne 3002</p><br/><small class="colored">
        <p>Melbourne CBD</p></small>
      <p> Queen Victoria Building, 23</p>
      <p> QV Terrace, 292 Swanston</p>
      <p> Street, Melbourne 3000</p><br/><small class="colored">
        <p> Surrey Hills</p></small>
      <p> 174 Union Road</p>
      <p> Surrey Hills 3127</p>
    </div>
    <div class="col-md-3-right"><small class="colored">
        <p> Mill Park</p></small>
      <p>20 Civic Drive</p>
      <p>Mill Park 3082</p><br/><small class="colored">
        <p>South Yarra</p></small>
      <p>Baker IDI Heart & Diabetes</p>
      <p>Institute, Level 4,</p>
      <p>99 Commercial Rd</p>
      <p>Melbourne 3004</p><br/><small class="colored">
        <p>Coolaraoo</p></small>
      <p>510 Barry Road</p>
      <p>Coolaroo 3048</p>
    </div>
  </div>
</div>